---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Dedicatória">
  <div class="breadcrumb"><a href="/">Início</a> · Dedicatória </div>

  <h1>Dedicatória</h1>
  <p><em><strong>Aos antepassados:</strong> italianos, espanhóis e brasileiros que construíram, com fé, trabalho e coragem, a jornada que nos trouxe até aqui.</em></p>

  <p><strong>A você que lê este livro no futuro:</strong> saiba que veio de homens e mulheres que enfrentaram fome, guerras, pobreza e distâncias inimagináveis, </br>
    <ul>
      <li>que cruzaram o oceano por esperança,</li>
      <li>que trabalharam a terra com as próprias mãos,</li>
      <li>que suportaram perdas e dificuldades,</li>
      <li>que reconstruíram tudo do zero,</li>
      <li>que mantiveram a família unida mesmo nos piores tempos,</li>
      <li>que deixaram valores simples e verdadeiros como herança.</li>
    </ul>
    Você carrega dentro de si a força de italianos, espanhóis e brasileiros que nunca desistiram.</br>

    Honre-os vivendo com coragem, honestidade e amor — as mesmas virtudes que trouxeram sua família até aqui.</br>
    </p>


  <section>
  <h3>Ao Sr. José (meu pai)</h3>
  <p>
    Homem simples, honesto e de fé, que sempre dedicou a vida
    ao trabalho e à família.
  </p>
  <p>
    Seu esforço incansável, sem vaidade nem busca por luxo, foi o que nos
    sustentou e mostrou, pelo exemplo, o valor da integridade e da
    perseverança.
  </p>
  <p>
    Obrigado por cada dia vivido por nós, por sua força silenciosa e pelo
    amor que nunca precisou ser dito para ser imenso.
  </p>

  <h3>A Sra. Irene (minha mãe)</h3>
  <p>
    Que renunciou aos próprios sonhos, estudos e conquistas
    para que eu pudesse realizar os meus.
  </p>
  <p>
    Sua dedicação absoluta, sua simplicidade e seu amor constante são o
    alicerce da minha vida.
  </p>
  <p>
    Se hoje sou independente e tenho uma profissão, é porque você colocou
    a família acima de tudo e caminhou cada passo ao meu lado, mesmo
    quando os seus custaram mais. Gratidão eterna por ter transformado
    cuidado em destino.
  </p>
</section>

 </BaseLayout>
