---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Pendencias">
  <div class="breadcrumb"><a href="/">Início</a> · Pendencias</div>

  <h1>Pendencias</h1>
    <ul>
      <li>explicar halogrupo - ver sde coloca hyperlink para alguma seção</li>
    </ul>
  </br>
</BaseLayout>
